[submodule "extern/chfs"]
	path = extern/chfs
	url = ../chfs
[submodule "extern/mochi-spack-packages"]
	path = extern/mochi-spack-packages
	url = https://github.com/mochi-hpc/mochi-spack-packages.git
[submodule "extern/chfs-spack-packages"]
	path = extern/chfs-spack-packages
	url = ../chfs-spack-packages
